@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/ProximaNova-Semibold.otf') format('opentype'),
    url('fonts/ProximaNova-Semibold.woff') format('woff'), url('fonts/ProximaNova-Semibold.ttf') format('truetype'), url('fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/ProximaNova-Regular.otf') format('opentype'),
    url('fonts/ProximaNova-Regular.woff') format('woff'), url('fonts/ProximaNova-Regular.ttf') format('truetype'), url('fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'ProximaNova', sans-serif;
    background: #eef3fa url(../img/pattern.png) repeat;
    color: #828282;
    font-weight: 300;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.section {
    padding: 50px 0;
}

.bg-dark hr {
    border-top: 1px solid rgba(255, 255, 255, .05);
}

.counter {
    font-size: 24px;
    font-weight: 500;
}

.fun-facts i {
    font-size: 3.2rem;
}

iframe {
    border: none;
}


/* /////////////////////////////////
	Typography
   ///////////////////////////////// */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: #292a2d;
}

h1 > small,
.h1 > small {
    font-size: 50%;
    color: #828282;
    font-weight: 300;
}

.lead {
    font-weight: 200;
}

b, strong, .strong {
    font-weight: 500;
}

.stronger, .bolder {
    font-weight: 600;
}

/* /////////////////////////////////
	Main Navigation
   ///////////////////////////////// */
.main-nav {
    padding: 15px 0;
    transition: padding .4s, box-shadow .35s;
    -webkit-transition: padding .4s, box-shadow .35s;
}

.logo-img,
.alt-logo-img {
    height: 25px;
    transition: height .4s;
    -webkit-transition: height .4s;
    COLOR: #9da9b5;
    font-size: 28px;
    font-weight: 700;
}

.alt-logo-img,
.dark-layout .logo-img {
    display: none;
}

.dark-layout .alt-logo-img {
    display: block;
}

.dark-layout .sticky .alt-logo-img {
    display: none;
}

.dark-layout .sticky .logo-img {
    display: block;
}

.sticky .logo-img {
    height: 25px;
}

/* /////////////////////////////////
	Main Banner
   ///////////////////////////////// */

.main-banner {
    /* padding:180px 0 120px; */
    text-align: center;
    background-position: 25% center;
    background-size: cover;
    position: relative;
}

.banner-divided .main-banner {
    padding: 120px 0 60px;
    text-align: center;
}

.main-banner-inner {
    padding: 80px 0 0;
}

.banner-carousel .main-banner {
    padding: 100px 0 40px;
}

.banner-title {
    font-weight: 600;
}

.banner-carousel .banner-title {
    font-size: 1.2rem;
}

.banner-sub-title {
    font-size: 1.1rem;
}

h1, .h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.particles-js-canvas-el {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.parallax {
    position: relative;
    background-size: auto;
    background-position: left;
    background-repeat: no-repeat;
}

.dark-overlay:after,
.darker-overlay:after,
.primary-overlay:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .15;
}

.darker-overlay:after {
    opacity: .65;
}

.primary-overlay:after {
    opacity: .9;
}

.dark-overlay .container,
.parallax .container,
.darker-overlay .container,
.primary-overlay .container {
    position: relative;
    z-index: 10;
}

.banner-divided .banner-img {
    width: 100%;
    max-width: 560px;
    height: 280px;
    margin: 0 auto 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-carousel .flipster {
    margin-top: 30px;
}

.flip-items img {
    max-width: 280px;
    height: auto;
}

.flipster__item img {
    box-shadow: 0 0 50px rgba(0, 0, 0, .05);
}

.flipster__item--current img {
    box-shadow: none;
}


/* /////////////////////////////////
	Preloader Animation
   ///////////////////////////////// */

.preloader {
    background-color: #f5f5f8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
}

.loader-wrap {
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 220px;
    margin-left: -110px;
}

.loader-wrap:before {
    font-size: 14px;
    content: 'loading...';
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
    text-align: center;
}

.progress {
    position: relative;
    height: 2px;
    display: block;
    width: 100%;
    background-color: #d0d0d7;
    border-radius: 2px;
    overflow: hidden;
}

.progress .determinate {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #d0d0d7;
    -webkit-transition: width .3s linear;
    transition: width .3s linear;
}

.progress .animated-bar {
    background-color: #5658db;
}

.progress .animated-bar:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .animated-bar:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

/* /////////////////////////////////
	Buttons
   ///////////////////////////////// */

.btn {
    font-family: 'Poppins', sans-serif;
    padding: 11px 25px;
    text-align: center;
    border-width: 2px;
    min-width: 220px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-rounded {
    border-radius: 30px;
}

/* /////////////////////////////////
	Features / Icons
   ///////////////////////////////// */

.feature-one-wrap {
    padding: 20px 0;
}

.feature-one-wrap > i {
    font-size: 45px;
    display: block;
    margin-bottom: 20px;
}

.page-header-one > p {
    font-size: 1.1rem;
}

.icons-list {
    list-style: none;
    text-align: center;
    padding: 0;
}

.icons-list li i {
    font-size: 32px;
}

/* /////////////////////////////////
	Portfolio
   ///////////////////////////////// */

.folio-card {
    position: relative;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.folio-card.js-tilt:hover {
    box-shadow: 0 15px 50px rgba(0, 0, 0, .2);
    z-index: 10;
}

.folio-link,
.folio-thumb {
    display: block;
}

.folio-thumb {
    max-width: 100%;
    height: auto;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.folio-card-title {
    font-size: 1.5rem;
}

.folio-card-desc {
    font-size: .9rem;
}

.zoom-in {
    color: #fff;
    display: block;
    opacity: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 12px;
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.zoom-in i {
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
}

.folio-card:hover .zoom-in,
.folio-card:hover .card-overlay {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.folio-card:hover .card-overlay {
    opacity: .95;
}

.zoom-in:hover {
    background-color: #fff;
    color: #343a40;
}

.zoom-in:hover i {
    -webkit-transform: scale(.7, .7);
    -ms-transform: scale(.7, .7);
    transform: scale(.7, .7);
}

.filtr-item {
    padding: 15px;
}

.filters-list {
    list-style: none;
}

.filters-list li {
    cursor: pointer;
    width: 100%;
    height: 35px;
    font-size: 1.03rem;
    line-height: 35px;
    text-align: center;
    margin: 0 0 10px 0;
    border: solid 1px rgba(0, 0, 0, .1);
    border-radius: 50px;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.filters-list .category {
    width: auto;
    padding: 0 15px;
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 34px;
}

.filters-list li:hover,
.filters-list .current {
    color: #fff;
}

.page-link,
.page-item:first-child .page-link,
.page-item:last-child .page-link {
    padding: 0;
    width: 39px;
    height: 39px;
    line-height: 38px;
    text-align: center;
    border-radius: 40px;
}

.page-link {
    border: solid 1px rgba(0, 0, 0, .1);
    font-weight: 500;
    color: #828282;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.page-item.disabled .page-link {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.page-link:hover,
.page-link:focus {
    color: #fff;
}

.project-wrap {
    padding: 120px 0 60px;
}

.project-wrap .project-title {
    position: relative;
}

.project-info {
    list-style: none;
    padding: 0;
}

.project-info li {
    margin-bottom: 1.6rem;
}

.project-info .feature-title {
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: .04rem;
}

.project-info .feature-desc {
    font-size: .85rem;
}

/* /////////////////////////////////
	Footer
   ///////////////////////////////// */

.site-footer {
    color: #aaa;
}

.ft-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.ft-nav > li {
    margin-left: 8px;
    margin-right: 8px;
}

.site-footer .logo-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.social-nav li {
    display: inline-block;
}

.site-footer .social-nav {
    text-align: center;
}

.site-footer a {
    color: #aaa;
    font-weight: 500;
    font-size: .95rem;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.site-footer a:hover,
.site-footer a:focus {
    text-decoration: none;
}

.site-footer .social-nav a {
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    background-color: #444;
    background-color: rgba(255, 255, 255, .1);
    color: #aaa;
}

.site-footer .social-nav a:hover,
.site-footer .social-nav a:focus {
    color: #fff;
    box-shadow: 0 20px 60px rgba(86, 88, 219, .35);
}


/* /////////////////////////////////
	Accent Color
   ///////////////////////////////// */

.nav-wrap__list > li.current a,
.dark-layout .sticky .nav-wrap__list > li.current a,
.nav-wrap__list > li a:hover,
.dark-layout .sticky .nav-wrap__list > li a:hover,
.iconbox a:hover,
.form-control:focus ~ .form-element-label,
.site-footer a:hover,
.site-footer a:focus,
.video-thumb .play-btn:hover i,
.video-thumb .play-btn:focus i,
.prev-next a,
.quote p,
.icard-nav-btn:hover {
    color: #2e3338;
    border-bottom: 3px solid #4a82e4;
}

.btn-primary.btn-fancy:hover,
.btn-primary.btn-fancy:focus,
.btn-primary.btn-fancy:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #5658db;
    border-color: #5658db;
    box-shadow: 0 30px 90px rgba(86, 88, 219, .35);
}

.btn-light.btn-fancy {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}

.btn-light.btn-fancy:hover {
    background-color: #fff;
    box-shadow: 0 30px 90px rgba(0, 0, 0, .35);
}

.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
    box-shadow: none !important;
}

.carousel-btns {
    margin-top: 40px;
}

@media (min-width: 575px) {
    .container {
        width: 100%;
        min-height: 100%;
        min-width: 1200px;
        margin: 0 auto;
    }
}

@media (min-width: 575px) {
    .footer.section.site-footer.bg-dark {
        width: 1200px !important;
    }
}


@media (min-width: 575px) {
    .col-lg-9 {
        width: 75%;
        float: left;
    }
}

@media (min-width: 575px) {
    .col-lg-3 {
        width: 25%;
        float: left;
    }
}

@media (min-width: 575px) {
    .swiper-slide.swiper-slide-active {
        width: 800px !important;
    }
}


span.btn-carousel {
    width: 21px;
    height: 21px;
    margin-left: 10px;
    float: left;
    margin-top: 12px;
    padding-right: 30px;
}

span.btn-carousel-visit {
    background: url(../icons/eye.png) no-repeat;
    background-size: contain;
}

span.btn-carousel-mailto {
    background: url(../icons/email.png) no-repeat;
    background-size: contain;
}

ul.ft-nav.social-nav.my-3 {
    float: left;
}